body {
  font-size: 18pt;
  margin: 40px;
}

h1 {
  font-size: 42pt;
}

h2 {
  font-size: 30pt; 
  font-weight: 600;
  margin-top: 40px;
}

p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}


strong {
  font-weight: 600;
  font-size: 21pt; 
}

a {
  text-decoration: none;
}


